
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.menu {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.img-logo {
    width: 70%;
    margin-bottom: 1rem;
}

.navlink {
    text-decoration: none;
    color: rgb(45, 45, 45);
}